
@import "../../theme/index.scss";

.benefit-card{
  display: flex;
  flex-direction: column;
  width: calc(100%/3 - 1.5rem);
  min-width: rem-calc(800px);
  max-width: rem-calc(900px);
  color: $white;
  background-color: $primary-color;
  box-sizing: border-box;
  margin: 0 0.5rem 2rem 0.5rem;
  border: 2px solid $primary-color;

  &.bordered{
    background-color: $white;
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  &.special-game{
    color: $secondary-color;
  }

  &.special-offer{
    .benefit-card-header{padding: 1rem 0.9rem;}
    .benefit-card-header-start{font-size: 70%;}
    .benefit-card-header-end{font-size: 75%;}
  }

  &.mobile {
      min-width: 0;
      width: 100%;
      margin: .5rem auto 1rem auto;
  }

  &.mobile-small {
      margin-bottom: .75rem;
  }
}

.benefit-card-header {
  padding: 2rem 0.9rem 0 0.9rem;
  text-transform: uppercase;
  text-align: justify;
  font-family: $header-font-family;
  font-size: rem-calc(58px);

  &-special {color: $red;font-size: 105%;}

  &.mobile {
      text-align: left;
      padding: 1.25rem 0.9rem 0 0.9rem;
  }
}

.benefit-card-figure{
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0rem 0.9rem;
  margin: 1rem 0 3rem 0;

  &.mobile-small {
      margin: .75rem 0 .75rem 0;
  }
}

.benefit-card-figure-image {
  flex: 1;
  background-size: cover;
  display: table;
  width: 100%;
  height: 7.5rem;
}

.benefit-card-figure-text {
  margin-top: 1.5rem;
  font-family: $text-font-family;
  line-height: 1.5rem;
}

.benefit-card-full-image {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 250px;

  &.background-cover{background-size: cover;}
}
