@import "../../../../../../../components/theme/index.scss";

$my-vehicle-accessories-padding-sides: 7.5rem;
$my-vehicle-accessories-padding-sides-mobile: .75rem;

.my-vehicle-accessories {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-title {
    padding-left: $my-vehicle-accessories-padding-sides;
    font-size: $hearder-one-font-size;
    font-family: $header-font-family;
    color: $primary-color;
    margin-bottom: 0rem;

    .icon {
      margin-right: .5rem;
    }

    &.mobile, &.tablet {
      padding-left: $my-vehicle-accessories-padding-sides-mobile;
    }

    &.mobile-small {
      font-size: 2.8rem;
    }

    @media(max-width: 1200px) {
      padding-left: $my-vehicle-accessories-padding-sides-mobile;
    }
  }


  &-section {
    display: flex;
    flex-wrap: wrap;
    color: $darkBlue;
    padding: 0 $my-vehicle-accessories-padding-sides;
    box-sizing: border-box;
    margin-bottom: 0;
    justify-content: space-around;
    align-items: center;

    img {
      height: auto;
      width: auto;
    }

    &.mobile,
    &.tablet {
      padding: 0 $my-vehicle-accessories-padding-sides-mobile;
    }

    @media(max-width: 1200px) {
      padding: 0 $my-vehicle-accessories-padding-sides-mobile;
    }

    &.tablet-portrait,
    &.mobile {
      flex-direction: column;
    }
  }


  &-section-content {
    background-color: $backgroundBlue;
    padding: 4rem;
    width: 100%;

    &-wrapper {
      flex: 0 0 25%;
      margin-bottom: $spacing;

      @media (max-width: 1340px) {
        flex: 0 0 50%;
      }

      @media (min-width: 1120px) and (max-width: 1200px) {
        flex: 0 0 25%;
      }

      @media (max-width: 1120px) {
        flex: 0 0 50%;
      }

      &.mobile {
        margin-bottom: 1.5rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &-image-wrapper {
      width: 100%;
      height: 238px;
    }

    &-images {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      &.mobile {
        padding: 1.5rem 1rem;
        flex-direction: column;
      }

      &.mobile-small {
        padding: 1rem 1rem;
      }
    }

    &-label {
      color: $blue;
      font-size: $fontSize;
      font-family: $accent-font-family;
      text-align: center;
      margin: 1.5rem 0 0 0;
      max-width: 100%;
    }

    &-link {
      width: 238px;
      display: block;
      margin: auto;
      height: 100%;
      text-decoration: none;
      background-color: $white;
      padding: $spacingSmall;
      box-sizing: border-box;
    }
  }
}
