@import "../../../../../../../../components/theme/index.scss";

.articles-nav-bar-tab {
    display: flex;
    align-items: baseline;
    background-color: $white;
    border-left: 2px solid $backgroundBlue;
    color: $primary-color;
    font-family: $header-font-family;
    font-size: $fontSizeBig;
    line-height: 1.75rem;
    letter-spacing: .3px;
    padding: 1rem 1.5rem;
    text-transform: uppercase;



    &.active {
        background-color: $backgroundBlue;
    }

    &.mobile {
        line-height: 1.5rem;
        padding: .35rem .75rem;
        font-size: 80%;
    }

    &.tablet {
        line-height: 2.5rem;
        padding: .5rem 1.5rem;
        font-size: $fontSize;

        @media (max-width: 750px) {
            font-size: 1.15rem;
        }
    }



    &-model {
        font-family: $accent-font-family;
        font-style: oblique;
        padding-right: .5rem;
        font-size: 110%;
    }

}
