@import "../../theme/index.scss";

.faq-question {
  margin: 0 2rem;

  &-header {
    border-bottom: 2px solid $backgroundBlue;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: .5rem;

    & > .icon {
      align-self: center;
      padding-top: 4px;
    }
  }

  &-title {
    color: $secondary-color;
    font-size: 1.5rem;
    margin: 0;
  }

  &.tablet{
    margin: 0 .7rem;
  }

  &.mobile {
    margin: 0;
  }
}
