@import "../../../theme/index.scss";

.operation-card-list {

    &-content {
       display: flex;
       justify-content: center;
       max-width: 74.25rem;
       margin: auto;
    }

    &-content-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}
