@import "../../../../../../../components/theme/index.scss";

.vehicle-tab-content-picture {
    position: relative;
    flex: 1;
    max-height: 45rem;
    min-width: 10rem;
    box-sizing: border-box;

    &.mobile {
        height: 25rem;
        flex: inherit;
    }
    &.tablet {
        flex-direction: column;
        flex: inherit;
    }

    &-container {
       width: 100%;
       height: 100%;
       overflow: hidden;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    &-img {
       min-width: 100%;
       min-height: 100%;
       width: auto;
       height: auto;
       object-fit: cover;
    }

    &-content {
        display: flex;
        position: absolute;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        &.mobile {
            flex-direction: column;
        }
    }

    &-logo {
        padding: 3rem 0rem 0rem 5rem;
        flex: 2;
        margin: 0;
        box-sizing: border-box;

        img {
            width: 12rem;
            object-fit: contain;
        }

        &.mobile {
            padding: 2rem 0rem 0rem 1rem;

            img {
                width: 6rem;
            }
        }

        &.tablet {
            padding: 3rem 0rem 0rem 3rem;

            img {
                width: 9rem;
            }
        }
    }

    &-logo-text {
        text-transform: capitalize;
        font-family: $text-font-family;
        font-size: 1.1em;
        margin-top: 8px;

        &.mobile {
            font-size: 80%;
            width: 55%;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        box-sizing: border-box;
        margin-left: auto;
        padding: 1rem 2rem 0.5rem 0;

        &.mobile {
            font-size: 80%;
            justify-content: flex-end;
            align-items: center;
            margin-left: 0;
            padding: 0 0 .5rem 0;

            .button {margin-top: .5rem;}
        }

        .tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

}
