{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.media != null %}
            <img src="{{ object.media.path }}" style="height: 100px">
        {% else %}
            <span>{{ 'admin.template.picture.no_image' | trans }}</span>
        {% endif %}
    </div>
{% endblock %}
