@import "../../../theme/index.scss";

.password-strength{
  margin-top: 0.5rem;
  padding: rem-calc(4px);
  background-color: $white;

  &.empty{
      visibility: hidden;
  }

  &-bar{
    padding: rem-calc(3px) 0;
    text-transform: uppercase;
    text-align: center;
    font-family: $accent-font-family;
    font-size: rem-calc($password-strength-font-size);
    color: $white;
    height: 1rem;
    width: 2%;
    white-space: nowrap;
    background-color: #D52B1E;
    transition: 1s width ease, 1s background-color ease;

    &.weak{
        background-color: #D52B1E;
        width: 30%;
    }
    &.poor{
        background-color: #FF9C00;
        width: 50%;
    }
    &.good{
        background-color: #FFDE00;
        width: 75%;
    }
    &.strong{
        background-color: #AADB21;
        width: 100%;
    }
  }
}
