<tr>
    <td bgcolor="#ffffff" align="center" style="padding-bottom: 20px;"><table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="90%">
            <tr>
                <td bgcolor="#4e9fda" align="center" style="padding: 40px; font-family: Arial, sans-serif; font-size: 16px; line-height: 140%; color: #ffffff;">
                    <strong style="font-size: 20px;">VOTRE VISITE DE COURTOISIE OFFERTE
                        JUSQU&rsquo;AU {{ date|date('d/m/Y') }}</strong><br/><br/>

                    Sur pr&eacute;sentation de votre carte mySUZUKI, b&eacute;n&eacute;ficiez de votre visite de courtoisie offerte. <br/><br/>

                    &agrave; cette occasion, nos &eacute;quipes du Service Apr&egrave;s-Vente effectueront un contr&ocirc;le pr&eacute;ventif de votre {{ model }} et r&eacute;pondront &agrave; toutes vos questions sur l&rsquo;utilisation de votre v&eacute;hicule. <br/><br/>

                    Nous tenons &agrave; ce que vous appr&eacute;ciez chaque moment pass&eacute; sur la route avec votre nouveau v&eacute;hicule, dans le plus grand confort et en toute s&eacute;curit&eacute;.
                </td>
            </tr>
        </table>
    </td>
</tr>
