<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('sendActivationLink', object) }}">
    <i class="fa fa-paper-plane" aria-hidden="true"></i> {{ 'admin.user.action.send_activation_link'|trans }}
</a>
