@import "../../../theme/index.scss";

.benefit-card-list {
    padding: 2.5rem 4rem 0rem 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    &.mobile {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 2.5rem 1.25rem 1rem 1.25rem;
    }

    &.mobile-small {
        padding: 2.5rem .5rem 1rem .5rem;
    }

    .benefit-card:nth-of-type(4){
        .benefit-card-header.mobile{
            font-size: 6.6vw;
        }
    }

    .benefit-card:nth-of-type(6){
        .benefit-card-full-image{
            background-position: bottom left;
        }
    }
}
